@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1,
p {
  font-family: Lato;
}

body,
html {
  position: relative;
  user-select: none;
  height: 100%;
  margin: 0;
}
body {
  background: rgb(240, 240, 240);
}
.view {
  position: absolute;
  width: 85%;
  top: 47%;
  left: 59%;
  transform: translate(-50%, -50%);
}

.box {
  background: white;
  padding: 20pt;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1333);
  width: 85%;
  /* min-width: 500px;
  max-width: 900px; */
  margin: auto;
}

/*Title*/
.Title {
  margin: 30pt auto 30px auto;
  text-align: center;
  font-weight: 900;
}

/*TASK FORMAT*/
.task {
  border-top: 3px solid #ded;
  width: 90%;
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}
.checkBox {
  border: 2px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  width: 12px;
  height: 12px;
  margin: 20px 15px 2px 5px;
  float: left;
  background: white;
  font-size: 11pt;
  color: rgba(102, 170, 102, 0.9);
  font-weight: 900;
}
.checkBox p {
  margin: -9pt 0 0 -4pt;
}
.taskTitle {
  color: black;
}
.task-cb-title {
  display: flex;
}
.delete-btn {
  background: none;
  border: none;
  float: right;
  color: #aaa;
  font-size: 14pt;
  font-weight: bolder;
}
.delete-btn:hover {
  cursor: pointer;
  color: red;
}

/*TASK ADDER*/
.taskAdder {
  height: 30pt;
  margin-bottom: 10px;
}
.textBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12pt;
  padding: 5pt;
  padding-bottom: 3pt;
  border: none;
  border-bottom: 1px solid#ccc;
  width: 40%;
  margin-left: 3.5%;
}
.textBox:focus {
  border: none;
  border-bottom: 1px solid#999;
  outline: none;
}
.textBox::placeholder {
  color: rgba(172, 139, 139, 0.548);
}
.categoryButton,
.addButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10pt;
  border-radius: 5px;
  border: none;
}
.categoryButton {
  left: 55%;
  text-align: left;
  font-weight: lighter;
  width: 24%;
  min-width: 110px;
  background: #ddd;
}
.categoryButton:hover,
.categoryButton:focus {
  background: #ccc;
}
.uncatagorized {
  margin-bottom: -20px;
}

.category-picker {
  box-sizing: border-box;
  display: none;
  position: absolute;
  left: 55%;
  top: 70%;
  width: 24%;
  box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
}

.category-picker li {
  display: block;
  width: 100%;
}

.category-picker button {
  width: 100%;
  padding: 6pt 0;
  border: none;
}
.category-picker button:hover {
  background: #ccc;
}
.dropdown:focus .category-picker {
  display: inline;
}

.show {
  display: block;
}

.addButton {
  left: 83%;
  width: 11%;
  min-width: 70px;
  font-weight: 700;
  background: #8c8;
}
.addButton:hover {
  background: #7b7;
}
.addButton:disabled {
  cursor: no-drop;
}

/*DISPLAY OPTIONS*/
.displayofoptions {
  padding: 20pt;
  position: relative;
  width: 85%;
  min-width: 500px;
  max-width: 900px;
  margin: auto;
  margin-bottom: 10px;
}

.cat-box {
  position: fixed;
  background: white;
  padding: 20pt;
  border-radius: 10pt;
  margin: 0;
  top: 12%;
  height: 78%;
  transform: translate(-10pt);
  width: 10%;
  min-width: 65px;
}

h2 {
  margin: auto;
  padding: 0;
  margin-top: 5pt;
  font: 10pt Roboto;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
}

.cat-box ul {
  position: absolute;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  margin-top: 15pt;
  padding: 0;
}

.cat-box li {
  margin: 0;
  padding: 0;
}

.categories {
  position: relative;
  background: rgb(240, 240, 240);
  color: black;
  padding: 7px 15px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  border: none;
}
.categories:hover {
  background-color: #ddd;
}
.cat-li {
  list-style: none;
  display: block;
}

.chosen-category {
  background: white;
  color: black;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1333);
}
.chosen-category:hover {
  background-color: white;
}
.showcompleted {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.showcompletedl {
  font: 11.5pt Roboto;
}

/*DISPLAY OF TASKS*/
.taskDisplay {
  height: 377px;
  overflow-y: scroll;
  margin-top: -20px;
}

.plsAddTasks {
  position: absolute;
  font: 600 20pt Roboto;
  color: #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
}

/*SCROLLBAR*/
.taskDisplay::-webkit-scrollbar {
  position: relative;
  width: 5px;
}
.taskDisplay::-webkit-scrollbar-track {
  position: relative;
  background: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}
.taskDisplay::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 15px;
}
.taskDisplay::-webkit-scrollbar-thumb:hover {
  background: #777;
}
