@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
h1,
p {
  font-family: Lato;
}

body,
html {
  position: relative;
  user-select: none;
  height: 100%;
  margin: 0;
}
body {
  background: rgb(240, 240, 240);
}
.all {
  position: absolute;
  width: 85%;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  user-select: none;
}

.box {
  background: white;
  filter: drop-shadow(0 0 5px #ddd);
  padding: 20pt;
  border-radius: 10px;
  position: relative;
  width: 85%;
  min-width: 500px;
  max-width: 900px;
  margin: auto;
}

/*Title*/
.Title {
  margin: 30pt auto 30px auto;
  text-align: center;
  font-weight: 900;
}

/*TASK FORMAT*/
.task {
  border-top: 3px solid #ded;
  width: 90%;
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}
.checkBox {
  border: 2px solid lightgray;
  border-radius: 3px;
  padding: 5px;
  width: 12px;
  height: 12px;
  margin: 20px 15px 2px 5px;
  float: left;
  background: white;
  font-size: 11pt;
  color: rgba(102, 170, 102, 0.9);
  font-weight: 900;
}
.checkBox p {
  margin: -9pt 0 0 -4pt;
}
.taskTitle {
  color: black;
}

/*TASK ADDER*/
.taskAdder {
  height: 30pt;
  margin-bottom: 10pt;
}
.textBox {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12pt;
  padding: 5pt;
  padding-bottom: 3pt;
  border: none;
  border-bottom: 1px solid#ccc;
  width: 40%;
  margin-left: 3.5%;
}
.textBox:focus {
  border: none;
  border-bottom: 1px solid#999;
  outline: none;
}
.categoryButton,
.addButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10pt;
  border-radius: 5px;
  border: none;
}
.categoryButton {
  left: 55%;
  text-align: center;
  font-weight: lighter;
  width: 23%;
  min-width: 110px;
  background: #ddd;
}
.categoryButton:hover {
  background: #ccc;
}

.addButton {
  left: 83%;
  width: 11%;
  min-width: 70px;
  font-weight: 700;
  background: #8c8;
}
.addButton:hover {
  background: #7b7;
}
.addButton:disabled {
  cursor: no-drop;
}

/*DISPLAY OPTIONS*/
.displayofoptions {
  padding: 20pt;
  position: relative;
  width: 85%;
  min-width: 500px;
  max-width: 900px;
  margin: auto;
}

.chosencategory {
  border-radius: 20px;
}

.showcompleted {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.showcompletedl {
  font: 11.5pt Roboto;
}

/*DISPLAY OF TASKS*/
.taskDisplay {
  height: 377px;
  overflow-y: scroll;
}

.plsAddTasks {
  position: absolute;
  font: 600 20pt Roboto;
  color: #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
}

/*SCROLLBAR*/
.taskDisplay::-webkit-scrollbar {
  position: relative;
  width: 5px;
}
.taskDisplay::-webkit-scrollbar-track {
  position: relative;
  background: transparent;
  margin-top: 20px;
  margin-bottom: 20px;
}
.taskDisplay::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 15px;
}
.taskDisplay::-webkit-scrollbar-thumb:hover {
  background: #777;
}
